.customer__search-wrapper{
    cursor: pointer;
    width: 216px;
    height: 38px;   
}

.customer__search-icon{
    width: 24px;
}

.search{
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 400px;
}