*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  background: #eeeeee;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  &.no-scroll {
    overflow: hidden;
  }
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin: 0;
  font-weight: 600;
  line-height: 1.17;
  color: #000000;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0;
  font-weight: 500;
  color: #b5b7c0;
}

address {
  margin-bottom: 0;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
  width: 100%;
}
